* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}
#count {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#Head {
  font-size: 60px;
}
#Head,
.btn {
  text-align: center;
  font-family: monospace;
}
.content {
  padding-top: 50vh;
}
